@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap'); */
.container {
    margin: 7rem 23rem;
    font-family: 'Kanit', sans-serif;
}

a {
    text-decoration: none;
    color: #538EDB;
}

.connect {
    font-size: large;
    bottom: 3rem;
}

.websites {
    font-size: 1.1rem;
    color: #646b7a;
    font-weight: bold;
}

#img1 {
    border: 1px solid black;
    padding: 0.5rem;
}

#hero {
    max-width: 400px;
    display : block;
    margin : auto;
}

